.classContainer{
    margin-top: 5rem;

    h1{
        text-align: center;
        text-decoration: underline;
    }
    h2{
        margin-top: 2rem;
        text-align: center;
        font-size: 3rem;
    }
}
.imgContainer{
    width: 80vw;
    margin: auto;
    margin-top: 3rem;
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 250px 250px 250px 250px;
    grid-gap: 22px;

    .item1{
        background-image: url("./assets/cycling.jpg");
        background-position: center;
        background-size: cover;
        box-shadow: 2px 4px 8px black;
        position: relative;
        grid-column: 1/3;
        transition: all .3s linear;
        border: 1px solid black;
        border-radius: 20px;
    }
    .item2{
        background-image: url("./assets/karate.jpg");
        background-position: center;
        background-size: cover;
        box-shadow: 2px 4px 8px black;
        position: relative;
        grid-column: 3/4;
        transition: all .3s linear;
        border: 1px solid black;
        border-radius: 20px;
    }
    .item3{
        background-image: url("./assets/power.jpg");
        background-position: center;
        background-size: cover;
        box-shadow: 2px 4px 8px black;
        position: relative;
        grid-column: 4/5;
        transition: all .3s linear;
        border: 1px solid black;
        border-radius: 20px;
    }
    .item4{
        background-image: url("./assets/meditation.jpg");
        background-position: center;
        background-size: cover;
        box-shadow: 2px 4px 8px black;
        position: relative;
        grid-column: 1/2;
        transition: all .3s linear;
        border: 1px solid black;
        border-radius: 20px;
    }
    .item5{
        background-image: url("./assets/mma.jpg");
        background-position: center;
        background-size: cover;
        box-shadow: 2px 4px 8px black;
        position: relative;
        grid-column: 2/3;
        transition: all .3s linear;
        border: 1px solid black;
        border-radius: 20px;
    }
    .item6{
        background-image: url("./assets/workout.jpg");
        background-position: center;
        background-size: cover;
        box-shadow: 2px 4px 8px black;
        position: relative;
        grid-column: 3/5;
        transition: all .3s linear;
        border: 1px solid black;
        border-radius: 20px;
    }
    .item1:hover,
    .item2:hover,
    .item3:hover,
    .item4:hover,
    .item5:hover,
    .item6:hover{
        cursor: pointer;
        scale: 1.05;
    }
    .head{
        color: white;
        position: absolute;
        bottom: 40px;
        left: 10px;
        z-index: 999;
    }
    .day{
        color: white;
        background-color: rgb(0, 0, 0);
        padding: 2px 5px;
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}